<h3>Vous avez recu une demande de contact</h3>

<div class="container">
    <p>Email : {{ contact.email }}</p>
    <p>Nom : {{ contact.name }}</p>
    <p>Message<br>{{ contact.content }}</p>
    <p>Le : {{ contact.date|date }}</p>
</div>

